@import "normalize.css";
$title-shelter-color: #F1CDB3;
$font-normal: 400;
$font-family-georgia: "Georgia", "Garamond", serif;
$font-family-arial: "Arial", "Verdana", sans-serif;
$color-light: #FFFFFF;
$color-not-selected-nav: #CDCDCD;
$color-dark-section-name:#545454;
$color-hover-btn: #FDDCC4;
$background-our-pets: #F6F6F6;
$background-cards:#FAFAFA;
$color-button:#292929;
$font-size-15: 15px;
$font-size-35: 35px;
$color-dark: #4C4C4C;
$line-heigth-24: 24px;

@font-face {
    font-family: Arial, Verdana, sans-serif;
    src: url(../../assets/fonts/arial/arial-regular.ttf);
}

@font-face {
    font-family: "Georgia", "Garamond", serif;
    src: url(../../assets/fonts/georgia/georgia-regular.ttf);
}



* {
    box-sizing: border-box;
  }

  html {
      scroll-behavior: smooth;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

header {
    position: fixed;
    top:0;
    width: 100%;
    background:$color-light;
}

.flex-container {
   display: flex;
   justify-content: space-between;
   >div {
       display: flex;
       flex-direction: column;
       justify-content: center;
       h1 {
           padding-top: 30px;
           padding-bottom: 10px;
           margin: 0;
               a{
                   text-decoration: none;
                   color: $color-dark-section-name;
                   font-weight: $font-normal;
                   font-family:$font-family-georgia;
                   line-height: 35px;
                   letter-spacing: 0.06em;
                   font-size: 32px;
               }
       }
       span {
           padding-bottom: 30px;
           font-size: 13px;
           font-family: $font-family-arial;
           font-weight: $font-normal;
           color: $color-dark-section-name;
           line-height: 15px;
           letter-spacing: 0.1em;
       }
   }
} 

.navigation {
   ul {
       display: flex;
       padding-top: 46px;
       padding-bottom: 20px;
       margin: 0;
       list-style: none;
       li {
           padding-right: 35px;
           &:nth-child(2) {
               position: relative;
               color: #FAFAFA;
               &::after {
                   content: "";
                   position: absolute;
                   border: 1px solid $title-shelter-color;
                   width: 58px;
                   bottom: -3px;
                   right: 35px;
                   
               }
           }
           
           &:last-child {
               padding: 0;
           }
           a {
           color: $color-not-selected-nav;
           font-family: $font-family-arial;
           font-weight: $font-normal;
           line-height: 24px;
           text-decoration: none;
           transition: .3s;
           font-size: $font-size-15;
           &:hover {
               color: #FAFAFA;
           }
           }
           
       }
   }
}

.background-section {
    background-color: $background-our-pets;
}

.our-friends {
    h2 { 
        text-align: center;
        margin: 0;
        font-family: $font-family-georgia;
        font-size: $font-size-35;
        font-weight: $font-normal;
        line-height: 45px;
        color: $color-dark-section-name;
        letter-spacing: 0.06em;
 
     }
 }

 
 
 .title-our-friends {
     padding-top: 200px;
 }
 
 .title-our-friends-second {
     padding-bottom: 45px;
 }
 
 .flex-our-friends {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 40px;
     row-gap: 30px;
     padding-top: 15px;
     padding-bottom: 45px;
 }
 
 .wrapper-card-katrine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 435px;
    background-color:$background-cards;
    border-radius: 9px;
    transition: .3s;
    &:hover{
        background-color: #FFFFFF;
        cursor:pointer;
        button {
            cursor: pointer;
            background-color:$color-hover-btn;
        }
    }
    span {
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
    }
    div{
        padding-top: 30px;
        button {
            padding: 15px 45px;
            margin-bottom: 30px;
            border: 2px solid $title-shelter-color;
            border-radius: 100px;
            font-family:$font-family-georgia;
            font-weight: $font-normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color:$color-button;
           &:hover {
            cursor: pointer;
            background-color:$color-hover-btn;
           }
        }
    }
}

 
.wrapper-card-jennifer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 435px;
    background-color:$background-cards;
    border-radius: 9px;
    transition: .3s;
    &:hover{
        cursor:pointer;
        background-color: #FFFFFF;
        button {
            cursor: pointer;
            background-color:$color-hover-btn;
        }
    }
    span {
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
    }
    div{
        padding-top: 30px;
        button {
            padding: 15px 45px;
            margin-bottom: 30px;
            border: 2px solid $title-shelter-color;
            border-radius: 100px;
            font-family:$font-family-georgia;
            font-weight: $font-normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color:$color-button;
        }
    }
}
 
.wrapper-card-woody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 435px;
    background-color:$background-cards;
    border-radius: 9px;
    transition: .3s;
    &:hover{
        background-color: #FFFFFF;
        cursor:pointer;
        button {
            cursor: pointer;
            background-color:$color-hover-btn;
        }
    }
    span {
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
    }
    div{
        padding-top: 30px;
        button {
            padding: 15px 45px;
            margin-bottom: 30px;
            border: 2px solid $title-shelter-color;
            border-radius: 100px;
            font-family:$font-family-georgia;
            font-weight: $font-normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color:$color-button;
        }
    }
}

 .wrapper-card-sophia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 435px;
    background-color:$background-cards;
    border-radius: 9px;
    transition: .3s;
    &:hover{
        background-color: #FFFFFF;
        cursor:pointer;
        button {
            cursor: pointer;
            background-color:$color-hover-btn;
        }
    }
    span {
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
    }
    div{
        padding-top: 30px;
        button {
            padding: 15px 45px;
            margin-bottom: 30px;
            border: 2px solid $title-shelter-color;
            border-radius: 100px;
            font-family:$font-family-georgia;
            font-weight: $font-normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color:$color-button;
        }
    }
}

.wrapper-card-timmy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 435px;
    margin-bottom: 15px;
    background-color:$background-cards;
    border-radius: 9px;
    transition: .3s;
    &:hover{
        background-color: #FFFFFF;
        cursor:pointer;
        button {
            cursor: pointer;
            background-color:$color-hover-btn;
        }
    }
    span {
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
    }
    div{
        padding-top: 30px;
        button {
            padding: 15px 45px;
            margin-bottom: 30px;
            border: 2px solid $title-shelter-color;
            border-radius: 100px;
            font-family:$font-family-georgia;
            font-weight: $font-normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color:$color-button;
        }
    }
}

.wrapper-card-charly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 435px;
    margin-bottom: 15px;
    background-color:$background-cards;
    border-radius: 9px;
    transition: .3s;
    &:hover{
        background-color: #FFFFFF;
        cursor:pointer;
        button {
            cursor: pointer;
            background-color:$color-hover-btn;
        }
    }
    span {
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
    }
    div{
        padding-top: 30px;
        button {
            padding: 15px 45px;
            margin-bottom: 30px;
            border: 2px solid $title-shelter-color;
            border-radius: 100px;
            font-family:$font-family-georgia;
            font-weight: $font-normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color:$color-button;
        }
    }
}

.wrapper-card-scarlett {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 435px;
    margin-bottom: 15px;
    background-color:$background-cards;
    border-radius: 9px;
    transition: .3s;
    &:hover{
        background-color: #FFFFFF;
        cursor:pointer;
        button {
            cursor: pointer;
            background-color:$color-hover-btn;
        }
    }
    span {
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
    }
    div{
        padding-top: 30px;
        button {
            padding: 15px 45px;
            margin-bottom: 30px;
            border: 2px solid $title-shelter-color;
            border-radius: 100px;
            font-family:$font-family-georgia;
            font-weight: $font-normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color:$color-button;
        }
    }
}

.wrapper-card-freddie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 435px;
    margin-bottom: 15px;
    background-color:$background-cards;
    border-radius: 9px;
    transition: .3s;
    &:hover{
        background-color: #FFFFFF;
        cursor:pointer;
        button {
            cursor: pointer;
            background-color:$color-hover-btn;
        }
    }
    span {
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
    }
    div{
        padding-top: 30px;
        button {
            padding: 15px 45px;
            margin-bottom: 30px;
            border: 2px solid $title-shelter-color;
            border-radius: 100px;
            font-family:$font-family-georgia;
            font-weight: $font-normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color:$color-button;
        }
    }
}

.button-pagination-menu {
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    &:hover {
        cursor: pointer;
        background-color:$color-hover-btn;
    }
}

.no-border-button{
    border: none;
    background-color:$title-shelter-color ;
}

.border-grey-button{
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    border-color:$color-not-selected-nav;
    &:hover {
        cursor: pointer; 
    }  
}

.wrapper-pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 100px;
}

.background-footer {
    background-image: url("../../assets/images/footer-background.png");
  }
  
  .flex-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    > div {
        
        h2 {
            margin: 0;
            font-family: $font-family-georgia;
       font-size: $font-size-35;
       font-weight: $font-normal;
       line-height: 45px;
       color:$color-light;
       letter-spacing: 0.06em;
        }
    };
    
}
.title-question-chapter {
    padding-top: 16px;
}

.title-question-chapter-second {
    padding-bottom: 40px;
}

.question-content {
    display: flex;
    flex-direction: column;
}

.wrapper-icon-mail {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    img {
        padding-right: 20px;
    }
    a {
        color:$title-shelter-color;
        text-decoration: none;
        font-family: $font-family-georgia;
       font-size: 20px;
       font-weight: $font-normal;
       line-height: 23px;
       color:$title-shelter-color;
       letter-spacing: 0.06em;
    }

}

.wrapper-icon-tel {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    img {
        padding-right: 20px;
    }
    a {
        color:$title-shelter-color;
        text-decoration: none;
        font-family: $font-family-georgia;
       font-size: 20px;
       font-weight: $font-normal;
       line-height: 23px;
       color:$title-shelter-color;
       letter-spacing: 0.06em;

    }

}

.wrapper-text-location{
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
        padding-right: 20px;
    }
    span {
       
       a{
        font-family: $font-family-georgia;
        font-size: 20px;
        font-weight: $font-normal;
        line-height: 23px;
        color:$title-shelter-color;
        letter-spacing: 0.06em;
        text-decoration: none;

       }

    }
}

.title-location-chapter{
    padding-top: 16px;
}

.title-location-chapter-second {
    padding-bottom: 34px;
}

.location-content {
    display: flex;
    flex-direction: column;
}

.location-Boston {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    a {
        padding-right: 20px;
    }
    span{
        font-family: $font-family-georgia;
       font-size: 20px;
       font-weight: $font-normal;
       line-height: 23px;
       color:$title-shelter-color;
       letter-spacing: 0.06em;
    }
}

.location-London {
    display: flex;
    align-items: center;
    a {
        padding-right: 20px;
    }
    span {
       a{
        text-decoration: none;
        font-family: $font-family-georgia;
        font-size: 20px;
        font-weight: $font-normal;
        line-height: 23px;
        color:$title-shelter-color;
        letter-spacing: 0.06em;

       }

    }
}

@media screen and (max-width: 1279px) {

    .container {
        max-width: 1279px;
        padding: 0 30px;
   }

   .flex-container {
    >div {
        h1 {
            padding-top: 30px;
        }
        span {
            padding-bottom: 0;
        }
}
   }


    .flex-footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 60px;
        padding-top: 40px;
    }
    
    .background-footer {
        background-image: url('../../assets/images/footer-background.png');
        background-size: cover;
    }


    .wrapper-card-freddie {
    position: absolute;
    z-index: -9999;

}

.wrapper-card-scarlett {
    position: absolute;
    z-index: -9999;

}

}



