@import "normalize.css";
@font-face {
  font-family: Arial, Verdana, sans-serif;
  src: url(../../assets/fonts/arial/arial-regular.ttf);
}
@font-face {
  font-family: "Georgia", "Garamond", serif;
  src: url(../../assets/fonts/georgia/georgia-regular.ttf);
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFFFFF;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-container > div h1 {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}
.flex-container > div h1 a {
  text-decoration: none;
  color: #545454;
  font-weight: 400;
  font-family: "Georgia", "Garamond", serif;
  line-height: 35px;
  letter-spacing: 0.06em;
  font-size: 32px;
}
.flex-container > div span {
  padding-bottom: 30px;
  font-size: 13px;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: 400;
  color: #545454;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.navigation ul {
  display: flex;
  padding-top: 46px;
  padding-bottom: 20px;
  margin: 0;
  list-style: none;
}
.navigation ul li {
  padding-right: 35px;
}
.navigation ul li:nth-child(2) {
  position: relative;
  color: #FAFAFA;
}
.navigation ul li:nth-child(2)::after {
  content: "";
  position: absolute;
  border: 1px solid #F1CDB3;
  width: 58px;
  bottom: -3px;
  right: 35px;
}
.navigation ul li:last-child {
  padding: 0;
}
.navigation ul li a {
  color: #CDCDCD;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
}
.navigation ul li a:hover {
  color: #FAFAFA;
}

.background-section {
  background-color: #F6F6F6;
}

.our-friends h2 {
  text-align: center;
  margin: 0;
  font-family: "Georgia", "Garamond", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
}

.title-our-friends {
  padding-top: 200px;
}

.title-our-friends-second {
  padding-bottom: 45px;
}

.flex-our-friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  row-gap: 30px;
  padding-top: 15px;
  padding-bottom: 45px;
}

.wrapper-card-katrine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.wrapper-card-katrine:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.wrapper-card-katrine:hover button {
  cursor: pointer;
  background-color: #FDDCC4;
}
.wrapper-card-katrine span {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.wrapper-card-katrine div {
  padding-top: 30px;
}
.wrapper-card-katrine div button {
  padding: 15px 45px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}
.wrapper-card-katrine div button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.wrapper-card-jennifer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.wrapper-card-jennifer:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}
.wrapper-card-jennifer:hover button {
  cursor: pointer;
  background-color: #FDDCC4;
}
.wrapper-card-jennifer span {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.wrapper-card-jennifer div {
  padding-top: 30px;
}
.wrapper-card-jennifer div button {
  padding: 15px 45px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.wrapper-card-woody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.wrapper-card-woody:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.wrapper-card-woody:hover button {
  cursor: pointer;
  background-color: #FDDCC4;
}
.wrapper-card-woody span {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.wrapper-card-woody div {
  padding-top: 30px;
}
.wrapper-card-woody div button {
  padding: 15px 45px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.wrapper-card-sophia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.wrapper-card-sophia:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.wrapper-card-sophia:hover button {
  cursor: pointer;
  background-color: #FDDCC4;
}
.wrapper-card-sophia span {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.wrapper-card-sophia div {
  padding-top: 30px;
}
.wrapper-card-sophia div button {
  padding: 15px 45px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.wrapper-card-timmy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  margin-bottom: 15px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.wrapper-card-timmy:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.wrapper-card-timmy:hover button {
  cursor: pointer;
  background-color: #FDDCC4;
}
.wrapper-card-timmy span {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.wrapper-card-timmy div {
  padding-top: 30px;
}
.wrapper-card-timmy div button {
  padding: 15px 45px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.wrapper-card-charly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  margin-bottom: 15px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.wrapper-card-charly:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.wrapper-card-charly:hover button {
  cursor: pointer;
  background-color: #FDDCC4;
}
.wrapper-card-charly span {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.wrapper-card-charly div {
  padding-top: 30px;
}
.wrapper-card-charly div button {
  padding: 15px 45px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.wrapper-card-scarlett {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  margin-bottom: 15px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.wrapper-card-scarlett:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.wrapper-card-scarlett:hover button {
  cursor: pointer;
  background-color: #FDDCC4;
}
.wrapper-card-scarlett span {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.wrapper-card-scarlett div {
  padding-top: 30px;
}
.wrapper-card-scarlett div button {
  padding: 15px 45px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.wrapper-card-freddie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  margin-bottom: 15px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.wrapper-card-freddie:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.wrapper-card-freddie:hover button {
  cursor: pointer;
  background-color: #FDDCC4;
}
.wrapper-card-freddie span {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.wrapper-card-freddie div {
  padding-top: 30px;
}
.wrapper-card-freddie div button {
  padding: 15px 45px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.button-pagination-menu {
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.button-pagination-menu:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.no-border-button {
  border: none;
  background-color: #F1CDB3;
}

.border-grey-button {
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border-color: #CDCDCD;
}
.border-grey-button:hover {
  cursor: pointer;
}

.wrapper-pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 100px;
}

.background-footer {
  background-image: url("../../assets/images/footer-background.png");
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.flex-footer > div h2 {
  margin: 0;
  font-family: "Georgia", "Garamond", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
}

.title-question-chapter {
  padding-top: 16px;
}

.title-question-chapter-second {
  padding-bottom: 40px;
}

.question-content {
  display: flex;
  flex-direction: column;
}

.wrapper-icon-mail {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.wrapper-icon-mail img {
  padding-right: 20px;
}
.wrapper-icon-mail a {
  color: #F1CDB3;
  text-decoration: none;
  font-family: "Georgia", "Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.wrapper-icon-tel {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.wrapper-icon-tel img {
  padding-right: 20px;
}
.wrapper-icon-tel a {
  color: #F1CDB3;
  text-decoration: none;
  font-family: "Georgia", "Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.wrapper-text-location {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper-text-location a {
  padding-right: 20px;
}
.wrapper-text-location span a {
  font-family: "Georgia", "Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.title-location-chapter {
  padding-top: 16px;
}

.title-location-chapter-second {
  padding-bottom: 34px;
}

.location-content {
  display: flex;
  flex-direction: column;
}

.location-Boston {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}
.location-Boston a {
  padding-right: 20px;
}
.location-Boston span {
  font-family: "Georgia", "Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.location-London {
  display: flex;
  align-items: center;
}
.location-London a {
  padding-right: 20px;
}
.location-London span a {
  text-decoration: none;
  font-family: "Georgia", "Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 1279px;
    padding: 0 30px;
  }

  .flex-container > div h1 {
    padding-top: 30px;
  }
  .flex-container > div span {
    padding-bottom: 0;
  }

  .flex-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    -moz-column-gap: 60px;
         column-gap: 60px;
    padding-top: 40px;
  }

  .background-footer {
    background-image: url("../../assets/images/footer-background.png");
    background-size: cover;
  }

  .wrapper-card-freddie {
    position: absolute;
    z-index: -9999;
  }

  .wrapper-card-scarlett {
    position: absolute;
    z-index: -9999;
  }
}/*# sourceMappingURL=style1.css.map */