@import "normalize.css";
@font-face {
  font-family: Arial, Verdana, sans-serif;
  src: url(../../assets/fonts/arial/arial-regular.ttf);
}
@font-face {
  font-family: "Georgia", "Garamond", serif;
  src: url(../../assets/fonts/georgia/georgia-regular.ttf);
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header-background {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-container .title-spans {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-container .title-spans h1 {
  padding-top: 60px;
  padding-bottom: 10px;
  margin: 0;
}
.flex-container .title-spans h1 a {
  text-decoration: none;
  color: #F1CDB3;
  font-weight: 400;
  font-family: "Georgia", "Garamond", serif;
  line-height: 35px;
  letter-spacing: 0.06em;
  font-size: 32px;
}
.flex-container .title-spans span {
  padding-bottom: 60px;
  font-size: 13px;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.navigation ul {
  display: flex;
  padding-top: 76px;
  padding-bottom: 20px;
  margin: 0;
  list-style: none;
}
.navigation ul li {
  padding-right: 35px;
}
.navigation ul li:first-child {
  position: relative;
  color: #FAFAFA;
}
.navigation ul li:first-child::after {
  content: "";
  position: absolute;
  border: 1px solid #F1CDB3;
  width: 114px;
  bottom: -3px;
  right: 35px;
}
.navigation ul li:last-child {
  padding: 0;
}
.navigation ul li a {
  color: #CDCDCD;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
}
.navigation ul li a:hover {
  color: #FAFAFA;
}

.burger-menu {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.burger-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
  left: 0;
}

.burger-line-first {
  top: 0;
}

.burger-line-second {
  top: 50%;
  transform: translateY(-50%);
}

.burger-line-third {
  bottom: 0;
}

.text-title-first {
  padding-top: 163px;
}

.flex-section-with-pic {
  display: flex;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.flex-section-with-pic div h2 {
  margin: 0;
  font-family: "Georgia", "Garamond", serif;
  font-size: 44px;
  color: #FFFFFF;
  line-height: 57px;
  font-weight: 400;
}
.flex-section-with-pic div p {
  margin: 0;
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 15px;
  color: #CDCDCD;
  line-height: 24px;
}
.flex-section-with-pic div .padding-last-paragraph {
  padding-bottom: 42px;
}

.main-doggy {
  position: absolute;
  left: calc(50% - 349px + 251px);
}

.paragraph-section-with-pic {
  padding-top: 42px;
}

.btn-coloured {
  display: inline-block;
  margin-bottom: 243px;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  padding: 15px 45px;
  font-family: "Georgia", "Garamond", serif;
  letter-spacing: 0.06em;
  line-height: 22px;
  color: #292929;
  font-size: 17px;
  text-decoration: none;
  transition: 0.3s;
}
.btn-coloured:hover {
  background: #FDDCC4;
}

.title-about-shelter {
  padding-top: 14px;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding-top: 80px;
  margin-bottom: 100px;
}
.flex h2 {
  margin: 0;
  font-family: "Georgia", "Garamond", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
}
.flex p {
  margin: 0;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

.container-image {
  height: 408px;
}

.title-about-with-padding {
  padding-bottom: 25px;
}

.padding-from-text {
  padding-bottom: 25px;
}

.background-pets {
  background: #F6F6F6;
}

.our-friends h2 {
  text-align: center;
  margin: 0;
  font-family: "Georgia", "Garamond", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
}

.title-our-friends {
  padding-top: 80px;
}

.title-our-friends-second {
  padding-bottom: 60px;
}

.flex-our-friends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

.wrapper-card-katrine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  margin-left: 53px;
  margin-right: 90px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.wrapper-card-katrine:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.wrapper-card-katrine:hover button {
  cursor: pointer;
  background-color: #FDDCC4;
}
.wrapper-card-katrine span {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.wrapper-card-katrine div {
  padding-top: 30px;
}
.wrapper-card-katrine div button {
  padding: 15px 45px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}
.wrapper-card-katrine div button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.wrapper-card-jennifer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  margin-right: 90px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.wrapper-card-jennifer:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}
.wrapper-card-jennifer:hover button {
  cursor: pointer;
  background-color: #FDDCC4;
}
.wrapper-card-jennifer span {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.wrapper-card-jennifer div {
  padding-top: 30px;
}
.wrapper-card-jennifer div button {
  padding: 15px 45px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.wrapper-card-woody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  margin-right: 53px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}
.wrapper-card-woody:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.wrapper-card-woody:hover button {
  cursor: pointer;
  background-color: #FDDCC4;
}
.wrapper-card-woody span {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.wrapper-card-woody div {
  padding-top: 30px;
}
.wrapper-card-woody div button {
  padding: 15px 45px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.button-arrow {
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.button-arrow:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.button-other-pets {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.button-other-pets a {
  display: inline-block;
  border-radius: 100px;
  padding: 15px 45px;
  background: #F1CDB3;
  border: none;
  transition: 0.3s;
  text-decoration: none;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}
.button-other-pets a:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  text-decoration: none;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}

.title-helps-our-shelters {
  padding-top: 80px;
}

.title-helps-our-second {
  padding-bottom: 60px;
}

.helps-our-shelters h2 {
  margin: 0;
  text-align: center;
  font-family: "Georgia", "Garamond", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
}

.flex-cards-first-string {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 55px;
  padding-bottom: 100px;
}
.flex-cards-first-string div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-cards-first-string div span {
  padding-top: 30px;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.title-donations-second {
  padding-bottom: 20px;
}

.background-donation {
  background: #F6F6F6;
}

.flex-donation {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px;
  gap: 30px;
}
.flex-donation img {
  padding-top: 11px;
  padding-bottom: 10px;
}
.flex-donation .donation-content {
  display: flex;
  flex-direction: column;
}
.flex-donation h2 {
  margin: 0;
  font-family: "Georgia", "Garamond", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
}

.wrapper-for-bank-card {
  display: flex;
  align-items: center;
  border-radius: 9px;
  background-color: #F1CDB3;
  margin-bottom: 20px;
  transition: 0.3s;
}
.wrapper-for-bank-card:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}
.wrapper-for-bank-card img {
  padding-right: 15px;
  padding-left: 15px;
}
.wrapper-for-bank-card a {
  text-decoration: none;
  color: #545454;
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.bank-name {
  font-family: "Georgia", "Garamond", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  padding-bottom: 20px;
}

.bank-information {
  font-family: "Arial", "Verdana", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.background-footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.flex-footer > div h2 {
  margin: 0;
  font-family: "Georgia", "Garamond", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
}

.title-question-chapter {
  padding-top: 16px;
}

.title-question-chapter-second {
  padding-bottom: 40px;
}

.question-content {
  display: flex;
  flex-direction: column;
}

.wrapper-icon-mail {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.wrapper-icon-mail img {
  padding-right: 20px;
}
.wrapper-icon-mail a {
  color: #F1CDB3;
  text-decoration: none;
  font-family: "Georgia", "Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.wrapper-icon-tel {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.wrapper-icon-tel img {
  padding-right: 20px;
}
.wrapper-icon-tel a {
  color: #F1CDB3;
  text-decoration: none;
  font-family: "Georgia", "Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.wrapper-text-location {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper-text-location a {
  padding-right: 20px;
}
.wrapper-text-location span a {
  font-family: "Georgia", "Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.title-location-chapter {
  padding-top: 16px;
}

.title-location-chapter-second {
  padding-bottom: 34px;
}

.location-content {
  display: flex;
  flex-direction: column;
}

.location-Boston {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}
.location-Boston a {
  padding-right: 20px;
}
.location-Boston span {
  font-family: "Georgia", "Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.location-London {
  display: flex;
  align-items: center;
}
.location-London a {
  padding-right: 20px;
}
.location-London span a {
  text-decoration: none;
  font-family: "Georgia", "Garamond", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 1279px;
    padding: 0 30px;
  }

  .flex-container .title-spans h1 {
    padding-top: 30px;
  }
  .flex-container .title-spans span {
    padding-bottom: 0;
  }

  .navigation ul {
    padding-top: 46px;
  }

  .flex-section-with-pic {
    display: flex;
    justify-content: center;
  }

  .text-title-first {
    padding-top: 60px;
  }

  .btn-coloured {
    margin-bottom: 0;
  }

  .wrapper-button {
    display: flex;
    justify-content: center;
    padding-bottom: 693px;
  }

  .main-doggy {
    width: 569px;
    height: 593px;
    left: calc(50% - 284.5px + 70px);
    top: 572px;
    bottom: 0;
  }

  .title-about-shelter {
    padding-top: 80px;
  }

  .flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }

  .wrapper-card-woody {
    position: absolute;
    z-index: -9999;
  }

  .flex-our-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding-bottom: 60px;
  }

  .wrapper-card-katrine {
    margin-left: 1.5%;
    margin-right: 40px;
  }

  .wrapper-card-jennifer {
    margin-right: 1.5%;
  }

  .flex-cards-first-string {
    -moz-column-gap: 60px;
         column-gap: 60px;
    margin-left: 39px;
    margin-right: 39px;
  }
  .flex-cards-first-string:nth-child(3n+1) {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .flex-cards-first-string div {
    flex-basis: 170px;
  }

  .flex-donation {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    gap: 60px;
  }
  .flex-donation img {
    padding-top: 11px;
    padding-bottom: 10px;
  }
  .flex-donation .donation-content {
    display: flex;
    flex-direction: column;
    width: 380px;
  }
  .flex-donation h2 {
    margin: 0;
    font-family: "Georgia", "Garamond", serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    color: #545454;
    letter-spacing: 0.06em;
  }

  img.image-pet {
    padding-top: 0;
    padding-bottom: 0;
  }

  .flex-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    -moz-column-gap: 60px;
         column-gap: 60px;
    row-gap: 65px;
    padding-top: 30px;
  }

  .wrapper-icon-tel {
    padding-bottom: 0;
  }

  .title-question-chapter {
    padding-top: 0;
  }

  .title-location-chapter {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 767px;
    padding: 0 10px;
  }

  .flex-section-with-pic div h2 {
    text-align: center;
    margin: 0;
    font-family: "Georgia", "Garamond", serif;
    font-size: 25px;
    line-height: 32px;
  }

  .burger-menu {
    display: block;
  }

  .navigation {
    display: none;
  }

  .wrapper-button {
    display: flex;
    justify-content: center;
    padding-bottom: 377px;
  }

  .main-doggy {
    width: 260px;
    height: 271.77px;
    top: 551px;
  }

  .wrapper-card-jennifer {
    display: none;
  }

  .image-pet {
    width: 260px;
    height: 135.2px;
  }

  .flex-cards-first-string {
    -moz-column-gap: 30x;
         column-gap: 30x;
    margin-left: 10px;
    margin-right: 10px;
  }
  .flex-cards-first-string div {
    flex-basis: 130px;
  }

  .flex-footer > div h2 {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */