@import "normalize.css";
* {
  box-sizing: border-box;
}

.header {
  background: url("../../assets/images/start-screen-gradient-background.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-container > div h1 {
  padding-top: 60px;
  padding-bottom: 10px;
  margin: 0;
  color: #F1CDB3;
  font-weight: 400;
  font-family: "Georgia", "Garamond", serif;
}
.flex-container > div span {
  padding-bottom: 60px;
  font-size: 13px;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

.navigation ul {
  display: flex;
  padding-top: 76px;
  padding-bottom: 17px;
  margin: 0;
  list-style: none;
}
.navigation ul li {
  padding-right: 35px;
  color: #CDCDCD;
}
.navigation ul li:first-child {
  text-decoration: underline;
  -webkit-text-decoration-color: #F1CDB3;
          text-decoration-color: #F1CDB3;
  color: #FAFAFA;
}
.navigation ul li:last-child {
  padding: 0;
}

.section-with-pic {
  background-image: url("../../assets/images/start-screen-gradient-background.jpg");
  background-position: center -180px;
  background-repeat: no-repeat;
}

.flex-section-with-pic {
  display: flex;
  background-image: url("../../assets/images/main_foto.png");
}
.flex-section-with-pic div h2 {
  margin: 0;
  font-family: "Georgia", "Garamond", serif;
  font-size: 44px;
  color: #FFFFFF;
}
.flex-section-with-pic div p {
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 15px;
  color: #CDCDCD;
  line-height: 24px;
}

.button {
  padding-bottom: 350px;
}
.button button {
  background: #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding-top: 80px;
}
.flex h2 {
  margin: 0;
  font-family: "Georgia", "Garamond", serif;
  font-size: 35px;
  font-weight: 400;
}
.flex p {
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

.padding-from-text {
  padding-bottom: 10px;
}

.our-friends h2 {
  text-align: center;
}

.flex-our-friends {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-our-friends > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-other-pets {
  display: flex;
  justify-content: center;
}

.flex-cards-first-string {
  display: flex;
  justify-content: center;
  gap: 120px;
}
.flex-cards-first-string div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-cards-second-string {
  display: flex;
  justify-content: center;
  gap: 120px;
}
.flex-cards-second-string div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-donation {
  display: flex;
  justify-content: center;
}
.flex-donation div {
  display: flex;
  flex-direction: column;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  background-image: url("../../assets/images/footer-background.png");
}/*# sourceMappingURL=style.css.map */