@import "normalize.css";
$title-shelter-color: #F1CDB3;
$font-normal: 400;
$font-family-georgia: "Georgia", "Garamond", serif;
$font-family-arial: "Arial", "Verdana", sans-serif;
$color-light: #FFFFFF;
$color-not-selected-nav: #CDCDCD;
$color-dark-section-name:#545454;
$color-hover-btn: #FDDCC4;
$background-our-pets: #F6F6F6;
$background-cards:#FAFAFA;
$color-button:#292929;
$font-size-15: 15px;
$font-size-35: 35px;
$color-dark: #4C4C4C;
$line-heigth-24: 24px;

@font-face {
    font-family: Arial, Verdana, sans-serif;
    src: url(../../assets/fonts/arial/arial-regular.ttf);
}

@font-face {
    font-family: "Georgia", "Garamond", serif;
    src: url(../../assets/fonts/georgia/georgia-regular.ttf);
}



* {
    box-sizing: border-box;
  }

  html {
      scroll-behavior: smooth;
  }

.header {
    background: url('../../assets/images/start-screen-gradient-background.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.container {
     max-width: 1280px;
     margin: 0 auto;
     padding: 0 40px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            padding-top: 60px;
            padding-bottom: 10px;
            margin: 0;
                a{
                    text-decoration: none;
                    color: $title-shelter-color;
                    font-weight: $font-normal;
                    font-family:$font-family-georgia;
                    line-height: 35px;
                    letter-spacing: 0.06em;
                }
        }
        span {
            padding-bottom: 60px;
            font-size: 13px;
            font-family: $font-family-arial;
            font-weight: $font-normal;
            color: $color-light;
            line-height: 15px;
            letter-spacing: 0.1em;
        }
    }
} 

.navigation {
    ul {
        display: flex;
        padding-top: 76px;
        padding-bottom: 17px;
        margin: 0;
        list-style: none;
        li {
            padding-right: 35px;
            &:first-child {
                position: relative;
                color: #FAFAFA;
                &::after {
                    content: "";
                    position: absolute;
                    border: 1px solid $title-shelter-color;
                    width: 114px;
                    bottom: -3px;
                    right: 35px;
                    
                }
            }
            
            &:last-child {
                padding: 0;
            }
            a {
            color: $color-not-selected-nav;
            font-family: $font-family-arial;
            font-weight: $font-normal;
            line-height: 24px;
            text-decoration: none;
            transition: .3s;
            font-size: $font-size-15;
            &:hover {
                color: #FAFAFA;
            }
            }
            
        }
    }
}

.section-with-pic {
  background-image: url("../../assets/images/start-screen-gradient-background.jpg");
  background-position: center -180px;
  background-repeat: no-repeat;
  
}

.text-title-first {
    padding-top: 163px;
}

.flex-section-with-pic {
    display: flex;
    
    div {
        h2 {
            margin: 0;
            font-family:$font-family-georgia;
            font-size: 44px;
            color: $color-light;
            line-height: 57px;
            font-weight:$font-normal ;
        }
        p {
            margin: 0;
            font-family:$font-family-arial;
            font-size: $font-size-15;
            color: $color-not-selected-nav;
            line-height:$line-heigth-24;

        }
        .padding-last-paragraph {
            padding-bottom: 42px;
        }
    }
}

.main-doggy {
    position: absolute;
    left: calc(50% - 698px/2 + 251px);;
}

.paragraph-section-with-pic {
    padding-top: 42px;
}



   
.btn-coloured {
        display: inline-block;
        margin-bottom: 243px;
        background: $title-shelter-color;
        border: none;
        border-radius: 100px;
        padding: 15px 45px;
        font-family: $font-family-georgia;
        letter-spacing: 0.06em;
        line-height: 22px;
        color: $color-button;
        font-size: 17px;
        text-decoration: none;
        transition: .3s;
        &:hover {
            background: $color-hover-btn; 
        }
}


.title-about-shelter {
    padding-top: 14px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-top: 80px;
    margin-bottom: 100px;
    h2 {
        margin: 0;
        font-family: $font-family-georgia;
        font-size: $font-size-35;
        font-weight: $font-normal;
        line-height: 45px;
        color: $color-dark-section-name;
        letter-spacing: 0.06em;
    }
    p {
        margin: 0;
        font-family:$font-family-arial; 
        font-weight:$font-normal;
        font-size:$font-size-15;
        line-height:$line-heigth-24;
        color:$color-dark;

    }
    
}

.title-about-with-padding {
    padding-bottom: 25px;
}

.padding-from-text {
    padding-bottom: 25px;
}

.background-pets {
    background: $background-our-pets;
}

.our-friends {
    
   h2 { 
       text-align: center;
       margin: 0;
       font-family: $font-family-georgia;
       font-size: $font-size-35;
       font-weight: $font-normal;
       line-height: 45px;
       color: $color-dark-section-name;
       letter-spacing: 0.06em;

    }
}

.title-our-friends {
    padding-top: 80px;
}

.title-our-friends-second {
    padding-bottom: 60px;
}

.flex-our-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    padding-bottom: 60px;
}

.wrapper-card-katrine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:$background-cards;
    span {
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
    }
    div{
        padding-top: 30px;
        button {
            padding: 15px 45px;
            margin-bottom: 30px;
            border: 2px solid $title-shelter-color;
            border-radius: 100px;
        }
    }
}

.wrapper-card-jennifer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:$background-cards;
    span {
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
    }
    div{
        padding-top: 30px;
        button {
            padding: 15px 45px;
            margin-bottom: 30px;
            border: 2px solid $title-shelter-color;
            border-radius: 100px;
        }
    }
}

.wrapper-card-woody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:$background-cards;
    span {
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
    }
    div{
        padding-top: 30px;
        button {
            padding: 15px 45px;
            margin-bottom: 30px;
            border: 2px solid $title-shelter-color;
            border-radius: 100px;
        }
    }
}

.button-arrow {
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-other-pets {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.button-rest-pets {
    border-radius: 100px;
    padding: 15px 45px;
    background: $title-shelter-color;
    border: none;
    font-family:$font-family-georgia;
    font-weight:$font-normal;
    line-height: 22px;
    letter-spacing: 0.06em;
    color:#292929;
    
      
}

.title-helps-our-shelters {
    padding-top: 80px;
}

.title-helps-our-second {
    padding-bottom: 60px;
}

.helps-our-shelters {
    h2 {
        margin: 0;
        text-align: center;
        font-family: $font-family-georgia;
       font-size: $font-size-35;
       font-weight: $font-normal;
       line-height: 45px;
       color: $color-dark-section-name;
       letter-spacing: 0.06em;


    }
}

.flex-cards-first-string {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-bottom: 55px;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            padding-top: 30px;
            font-family:$font-family-georgia;
            font-weight:$font-normal;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.06em;

        }
    }
}

.flex-cards-second-string {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-bottom: 100px;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            padding-top: 30px;
            font-family:$font-family-georgia;
            font-weight:$font-normal;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.06em;

        }
    }
}

.title-donations-second {
    padding-bottom: 20px;
}

.background-donation {
    background: #F6F6F6;
}

.flex-donation {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 100px;
    gap: 30px;
   
    img { 
        padding-top: 11px;

    }
    div {
        display: flex;
        flex-direction: column;
    }
    h2 {
        margin: 0;
        font-family: $font-family-georgia;
       font-size: $font-size-35;
       font-weight: $font-normal;
       line-height: 45px;
       color: $color-dark-section-name;
       letter-spacing: 0.06em;
    }
    input {
        margin-bottom: 20px;
        border: none;
        border-radius: 9px;
        background:$title-shelter-color;
        padding: 10px 15px;
        font-family: $font-family-georgia;
       font-size: 20px;
       font-weight: $font-normal;
       line-height: 23px;
       letter-spacing: 0.06em;
    } 
}

.bank-name {
    font-family: $font-family-georgia; 
        font-weight: $font-normal;
        font-size: $font-size-15;
        line-height: 17px;
        letter-spacing: 0.06em;
        padding-bottom: 20px;
}

.bank-information {
font-family: $font-family-arial;
font-style: italic;
font-weight: $font-normal;
font-size: 12px;
line-height: 18px;
}

.background-footer {
    background-image: url('../../assets/images/footer-background.png');
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    gap: 160px;
    padding-top: 40px;
    > div {
        
        h2 {
            margin: 0;
            font-family: $font-family-georgia;
       font-size: $font-size-35;
       font-weight: $font-normal;
       line-height: 45px;
       color:$color-light;
       letter-spacing: 0.06em;
        }
    };
    
}

.title-question-chapter-second {
    padding-bottom: 40px;
}

.wrapper-icon-mail {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    img {
        padding-right: 20px;
    }
    a {
        color:$title-shelter-color;
        text-decoration: none;
        font-family: $font-family-georgia;
       font-size: 20px;
       font-weight: $font-normal;
       line-height: 23px;
       color:$title-shelter-color;
       letter-spacing: 0.06em;
    }

}

.wrapper-icon-tel {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    img {
        padding-right: 20px;
    }
    a {
        color:$title-shelter-color;
        text-decoration: none;
        font-family: $font-family-georgia;
       font-size: 20px;
       font-weight: $font-normal;
       line-height: 23px;
       color:$title-shelter-color;
       letter-spacing: 0.06em;

    }

}

.wrapper-text-location{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    a {
        padding-right: 20px;
    }
    span {
       font-family: $font-family-georgia;
       font-size: 20px;
       font-weight: $font-normal;
       line-height: 23px;
       color:$title-shelter-color;
       letter-spacing: 0.06em;

    }
}

.title-location-chapter-second {
    padding-bottom: 34px;
}

.location-Boston {
    display: flex;
    align-items: center;
    a {
        padding-right: 20px;
    }
    p{
        margin: 0;
        font-family: $font-family-georgia;
       font-size: 20px;
       font-weight: $font-normal;
       line-height: 23px;
       color:$title-shelter-color;
       letter-spacing: 0.06em;
    }
}

.location-London {
    display: flex;
    align-items: center;
    a {
        padding-right: 20px;
    }
    span {
       font-family: $font-family-georgia;
       font-size: 20px;
       font-weight: $font-normal;
       line-height: 23px;
       color:$title-shelter-color;
       letter-spacing: 0.06em;

    }
}